@charset "utf-8";


.wrap{
    max-width: 600px;
    padding: 12px;
    background-color: rgba(202, 243, 243, 0.808);
}

table{
    border-collapse: collapse;
}

tr{
    border: solid 1px gray;
}

td{
    padding: 10px;
}

.youAreMC{
    background-color: yellow;
}

.invHums{
    /* padding: 10px;
    margin: 6px 6px 0 0; */
    width: calc(100% / 3 - 10px);
}

#invArea{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    row-gap: 6px;
    column-gap: 6px;
}